# Pythonの仮想環境フォルダを除外
venv/
.venv/

# Webへのショートカットファイルを除外
# (Windowsのインターネットショートカットやリンクファイル、Macのwebloc)
*.url
*.lnk
*.webloc

# Caffeのプロトタイプファイルを除外
.prototxt
.caffemodel
# Jupyter Notebookのチェックポイントファイルを除外
.ipynb_checkpoints/
# VSCodeの設定ファイルを除外
.vscode/
# PyCharmの設定ファイルを除外
.idea/
# MacのDS_Storeファイルを除外
.DS_Store

